@font-face {
  font-family: "Norse Bold";
  src: url("Norse-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-background-color: rgb(214, 211, 211);
  --light-background-color: rgb(231, 231, 231);
}

#wrapper-container {
  display: flex;
  min-height: 100vh;
}

#left-section {
  min-width: clamp(35rem, 40rem, 50rem);
  background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
  background-repeat: none;
  background-size: cover;
  position: relative;
}

#odin-container {
  position: absolute;
  top: 250px;
  height: min(200px, 20%);
  background-color: rgba(0, 0, 0, 0.5);
  width: min(100%);
  display: flex;
  justify-content: center;
}

#odin-container:nth-child(-n + 2) {
  margin: 0 auto;
}

#odin-logo {
  color: white;
  font-family: "Norse Bold";
  flex-basis: auto;
  margin: auto 0;
  font-size: min(5em);
}

.right-side-containers p {
  background-color: var(--dark-background-color);
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: min(1.5rem);
  font-weight: bold;
}

.right-side-containers > p:first-child {
  padding-top: min(8rem);
}

.right-side-containers > p:nth-child(2) {
  padding-top: min(1rem);
}

#input-container {
  display: flex;
  gap: 2em;
}

#input-container div {
  height: min(16em);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

form h1 {
  padding: 1rem 2rem;
}

.label-container input {
  margin-bottom: min(2.5rem);
}

#form-color-container {
  background-color: var(--light-background-color);
  box-shadow: 2px 2px 2px 2px rgb(226, 223, 223);
}

#create-btn-container {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#create-btn-container button {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  background-color: #596d48;
  margin-bottom: 1rem;
}
#create-btn-container button:hover {
  cursor: pointer;
}

input:invalid {
  border-color: red;
}
